<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
<h1>About Me</h1>

<p>
  Hello! My name is chaos and I'm a java developer passionate about creating amazing websites and applications. I have 1.5 years of experience in the field and a strong background in java.
</p>

<p>
  I graduated from Northwest MS CC with a degree in computer science, where I gained valuable knowledge and skills in java. Throughout my career, I have worked on various projects, honing my skills in app development.
</p>

<p>
  Feel free to explore my portfolio and don't hesitate to reach out to me if you have any questions or would like to collaborate on a project.
</p>
<ul>
  <li><a href='http://127.0.0.1:8000/home/'>home</a></li>
  <li><a href='http://127.0.0.1:8000/work/'>My Work</a></li>
  <li><a href='http://127.0.0.1:8000/contact/'>Contact Me</a></li>
</ul>
</body>
</html>