<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Me</title>
</head>
<body>
  <h1>Contact Me</h1>
  <form>
    <div>
      <label for="name">Your Name:</label><br>
      <input type="text" id="name" name="name" required><br>
    </div>
    <div>
      <label for="email">Your Email:</label><br>
      <input type="email" id="email" name="email" required><br>
    </div>
    <div>
      <label for="message">Your Message:</label><br>
      <textarea id="message" name="message" rows="4" required></textarea><br>
    </div>
    <button type="submit">Send Message</button>
  </form>
  <ul>
    <li><a href='http://127.0.0.1:8000/about/'>About Me</a></li>
    <li><a href='http://127.0.0.1:8000/work/'>My Work</a></li>
    <li><a href='http://127.0.0.1:8000/home/'>home</a></li>
  </ul>
</body>
</html>
