<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to My Portfolio</title>
</head>
<body>
  <h1>Welcome to My Portfolio</h1>
  <p>
    Thank you for visiting my portfolio website. Here, you can learn more about me, explore my work, and get in touch with me.
  </p>
  <ul>
    <li><a href='http://127.0.0.1:8000/about/'>About Me</a></li>
    <li><a href='http://127.0.0.1:8000/work/'>My Work</a></li>
    <li><a href='http://127.0.0.1:8000/contact/'>Contact Me</a></li>
  </ul>
</body>
</html>
