<!DOCTYPE>
<html>
    <head>
        <title>My Work</title>
    </head>

    <body>
        <h1>My Work</h1>

        <div class="project">
          <h2>Tic Tac Toe</h2>
          <p>Description of Project 1.</p>
          <p>Key technologies used: java, arrays, loops</p>
        
        </div>
        
        <div class="project">
          <h2>Iskeai Text Adventure</h2>
          <p>A iskeai game text adventure which is text for graphics</p>
          <p>Key technologies used: arrays, encapsilation, java 3</p>
        
        </div>
        <ul>
            <li><a href='http://127.0.0.1:8000/about/'>About Me</a></li>
            <li><a href='http://127.0.0.1:8000/home/'>home</a></li>
            <li><a href='http://127.0.0.1:8000/contact/'>Contact Me</a></li>
          </ul>
    </body>


</html>